html,body {
	height:100%;
}
body{
	background: #e5e3dd;
	margin: 0;
	font-family: 'ProximaNova-Regular', sans-serif;
}
img {
	width: 100%;
	height: auto;
}
p{
	margin: 0;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../font/ProximaNova-Bold.otf')  format('opentype'),
	   url('../font/ProximaNova-Bold.woff') format('woff'), url('../font/ProximaNova-Bold.ttf')  format('truetype'), url('../font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/ProximaNova-Regular.otf')  format('opentype'),
	   url('../font/ProximaNova-Regular.woff') format('woff'), url('../font/ProximaNova-Regular.ttf')  format('truetype'), url('../font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
video{
	display: block;
	width: 100%;
}
h2{
	font-family: 'ProximaNova-Bold',sans-serif;
	margin: 0;
	font-size: 0px;
}
.clear{
	content: "";
	clear: both;
	display: table;
}
#wrapper{
	width: 100%;
	margin: 0 auto;
}
.left-side{
    width: calc(~'46% - 20px');
    float: left;
    padding-left: 20px;
	p{
		font-size: 0px;
    	height: 0;
	}
	.quote {
		margin-top: 27px;
		font-style: italic;
		font-size: 1.1em;
		.text {
			width: 80%;
		}
	}
	.text {
		width: 90%;
	}
}
.right-side{
	width: calc(~'54% - 74px');
    float: left;
    padding: 40px 40px 40px 34px;
}
#title-wrap{
	clear: both;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    video{
    	height: 100%;
    	width: 100%;
    }
	img{
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 2;
	    pointer-events:none;
	}
}
.padding-clear{
	background: #000;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#spinner{
    width: 77px;
    float: right;
    top: 20px;
    position: relative;
    display: none;
}
#instruct {
	margin-top: 40px;
	text-align: right;
	label{
		margin-top: 31px;
		float: right;
		cursor: pointer;
		position: relative;
		img.disabled{
			opacity: 0.3;
			cursor: no-drop;
			pointer-events: none;
		}

		input {
			cursor: inherit;
		    display: block;
		    font-size: 999px;
		    filter: alpha(opacity=0);
		    height: 100%;
		    width: 100%;
		    opacity: 0;
		    position: absolute;
		    right: 0;
		    text-align: right;
		    top: 0;
		}
	}
	progress{
		display: none;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    width: 100%;
	}
	&:after{
		content:"";
		clear: both;
		display: table;
	}
}
#share {
    background: url(../img/share.svg) 16% 56px no-repeat;
    display: none;
    float: right;
    width: 60%;
    margin-top: 20px;
	> div {
		float: right;
		width: 40%;
		cursor: pointer;
		margin-top: 7px;
		&:nth-child(even){
			margin-left: 7px;
		}
		&#twitter-btn {
			clear: both;
		}
	}
	&:after{
		content:"";
		clear: both;
		display: table;
	}
}
#title-treatment{
    width: 89%;
    height: 0;
    padding-bottom: 24%;
    background: url(../img/tt.png) no-repeat;
    background-size: 100%;
    float: right;
   	margin-top: 31px;
   	position: relative;
}
.copy {
    text-align: right;
    font-size: 10px;
    color: #232323;
    font-family: 'arial';
    position: absolute;
    right: 7px;
    top: 112%;
}

@media screen and (max-width:800px){
	.left-side {
	    width: 90%;
    	padding: 0 5%;
    	float: none;
    	.text {
    		width: 100%;
    	}
	}
	.right-side{
		width: 90%;
		padding: 0 5%;
		float: none;
		margin-top: 10px;
	}
	#instruct label {
		margin-top: 20px;
	}
}